.content {
  font-family: sans-serif;
  font-weight: 100;
  color: #1a1a1a;
  text-align: center;
}
.intro{
  margin: 8em 0 4em 0;
}

ul {
  padding-left: 0;
}
li:first-child {
  padding-left: 0;
}
li {
  display: inline;
  padding-left: 5%;
}
a {
    color: #1a1a1a;
    /*font-size: .9em;*/
    text-decoration: none;
}

.fa-2x {
  font-size: 2.5em;
}

a:hover {
  color: #e74c3c;
}

h1,h2 {
  font-weight: 100;
}

h2.uppercase {
  text-transform: uppercase;
  font-weight: normal;
  line-height: 4em;
  font-size: 1.3em;
}

