ul {
  padding-left: 0;
}
li:first-child {
  padding-left: 0;
}
li {
  display: inline;
  padding-left: 5%;
}
h1.splash-head {
  padding: 0;
}

img.showcase{
  margin-left: -11px;
  max-width: 410px;
}

img.close-up{
  margin-left: -13px;
  max-height: 190px;
}

.screamer-strip{
  margin: -20px 0;
}

h2.screamer {
  margin-top: 24px;
}

